<?xml version="1.0" encoding="UTF-8"?>
<widget>
    <type>user</type>
    <previewjs>My</previewjs>
    <ver>1.000</ver>
    <mgrver>1.000</mgrver>
    <network>n</network>
    <fullwidget>y</fullwidget>
    <category>video</category>
    <movie>n</movie>
    <srcctl>n</srcctl>
    <ticker>n</ticker>
    <childlock>n</childlock>
    <audiomute>n</audiomute>
    <videomute>n</videomute>
    <flashplayer>y</flashplayer>
    <dcont>y</dcont>
    <apptype>11</apptype>
    <widgetname>My</widgetname>
    <description></description>
    <width>960</width>
    <height>540</height>
    <ThumbIcon>img/logo/iptvx106x106.png</ThumbIcon>
    <BigThumbIcon>img/logo/iptvx115x115.png</BigThumbIcon>
    <ListIcon>img/logo/iptvx86x86.png</ListIcon>
    <BigListIcon>img/logo/iptvx95x95.png</BigListIcon>
    <author>
    <name>ruleNone</name>
    <email>email@email.email</email>
    <link>www.example.com</link>
    <organization></organization>
    </author>
</widget>
